.blured-background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background-image: conic-gradient(
    from 90deg at -10% 100%,
    #2b303b 0deg,
    #2b303b 90deg,
    #16181d 1turn
  );
  opacity: 0.6;
}
