.onetask-container {
  background-color: white;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  box-sizing: border-box;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  cursor: pointer;
}

.onetask-container.dark-theme {
  background-color: #2f2f37;
}

.onetask-title {
  color: black;
  font-size: 18px;
  line-break: anywhere;
}

.onetask-title.dark-theme {
  color: white;
} 

.onetask-progres {
  color: #6f7076;
}

.onetask-edit-delete-container {
    position: absolute;
    top: 5px;
    right: 10px;
    display: flex;
    gap: 7px;
    align-items: center;
}

.onetask-edit,
.onetask-delete {
    cursor: pointer;
}

.onetask-edit:hover,
.onetask-delete:hover {
    scale: 1.1;
} 